---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Ed Canina Alfa">
  <header id="top" class="bg-white">
    <nav
      class="column py-4 flex flex-col sm:flex-row gap-4 items-center justify-between"
    >
      <a href="/">
        <img
          src="/Logo.png"
          alt="Logo de Educacion Canina Alfa CR"
          class="w-[100px] sm:w-[130px] md:w-[160px] lg:w-[190px] duration-200 hover:scale-105"
        />
      </a>
      <div class="flex items-center gap-6 sm:gap-4">
        <a href="#about" class="hover:font-bold duration-200">Quienes somos</a>
        <a
          href="#contact"
          class="bg-zinc-950 hover:bg-zinc-700 hover:scale-105 duration-200 text-white px-5 py-2 rounded-xl"
          >Contacto</a
        >
      </div>
    </nav>
  </header>
  <main>
    <section
      id="header"
      class="relative min-h-[calc(100vh-140px)] sm:min-h-[calc(100vh-95px)] md:min-h-[calc(100vh-110px)] lg:min-h-[calc(100vh-122px)] grid place-items-center"
    >
      <div
        class="column absolute bottom-5 sm:bottom-10 bg-black text-white bg-opacity-30 backdrop-blur-sm p-2 sm:p-4 md:p-6 rounded-md text-center max-w-[400px] md:max-w-[500px]"
      >
        <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold">
          Educación Canina Alfa CR
        </h1>
        <p class="text-md mt-4 sm:text-md md:text-lg">
          "En Educación Canina Alfa CR, adiestramos perros con más de 20 años de
          experiencia, ofreciendo un servicio a domicilio personalizado,
          responsable y puntual para fortalecer la conexión única entre cada
          perro y su dueño."
        </p>
      </div>
    </section>

    <section class="column py-5 sm:py-8 md:py-12 text-center">
      <h1 class="text-xl sm:text-2xl md:text-3xl font-bold">
        ¿POR QUÉ ELEGIRNOS?
      </h1>
      <p class="py-4 sm:text-md md:text-lg">
        Transformamos la convivencia con tu perro: adiestramiento a domicilio
        con más de 20 años de experiencia. Personalizado, responsable y puntual.
      </p>
      <p class="py-4 sm:text-md md:text-lg italic font-bold">
        ¡Construimos vínculos fuertes entre dueños y sus mejores amigos caninos
        en Educación Canina Alfa CR!
      </p>
    </section>

    <section
      id="about"
      class="column py-5 sm:py-8 md:py-12 flex flex-col-reverse md:grid md:grid-cols-2 md:items-center gap-2"
    >
      <div class="py-8">
        <h1 class="text-xl sm:text-2xl md:text-3xl font-bold">Quienes somos</h1>
        <p class="py-4 sm:text-md lg:text-lg">
          Un equipo de profesionales responsables y apasionados con una vasta
          experiencia en el comportamiento canino. Estamos comprometidos a
          brindar a nuestros clientes y amigos las claves para una convivencia
          sana y placentera con sus adorados.
        </p>
      </div>
      <figure>
        <img
          src="/images/about.jpeg"
          alt="Imagen de un perro para la seccion acerca de"
          class="aspect-[1/1] rounded-lg object-cover"
        />
      </figure>
    </section>

    <section
      class="column py-5 sm:py-8 md:py-12 flex flex-col md:grid md:grid-cols-2 md:items-center gap-2"
    >
      <figure>
        <img
          src="/images/work.jpeg"
          alt="Imagen para la seccion de trabajo"
          class="aspect-[1/1] rounded-lg object-cover"
        />
      </figure>
      <div class="py-8">
        <h1 class="text-xl sm:text-2xl md:text-3xl font-bold">
          Lo que hacemos
        </h1>
        <p class="py-4 sm:text-md lg:text-lg">
          Nuestra misión es transformar la relación entre los dueños y sus
          perros mediante la enseñanza de obediencia a distintos niveles, la
          modificación de conducta y el compartir de valiosos conocimientos.
          ¡Convierte cada momento con tu mascota en una experiencia excepcional
          con nosotros!
        </p>
      </div>
    </section>

    <section
      id="about"
      class="column py-5 sm:py-8 md:py-12 flex flex-col-reverse md:grid md:grid-cols-2 md:items-center gap-2"
    >
      <div class="py-8">
        <h1 class="text-xl sm:text-2xl md:text-3xl font-bold">
          Descubre nuestra forma de trabajo única
        </h1>
        <p class="py-4 sm:text-md lg:text-lg">
          Utilizamos técnicas en positivo, desde luring hasta Target, moldeado
          libre y dirigido, junto con el uso de la propiocepción. Enfocados en
          el bienestar animal, cada sesión es una combinación de ciencia y
          experiencia, reforzada con juegos y premios. ¡Haz que el aprendizaje
          sea divertido y efectivo para tu peludo amigo con nosotros!
        </p>
      </div>
      <figure>
        <img
          src="/images/discover-work.jpeg"
          alt="Imagen para la seccion de descubrir"
          class="aspect-[1/1] rounded-lg object-cover"
        />
      </figure>
    </section>

    <section
      class="column py-5 sm:py-8 md:py-12 text-center text-xl sm:text-2xl lg:text-3xl"
    >
      <p class="py-5">
        Obediencia básica, intermedia y avanzada, modificación de conducta.
      </p>
      <p class="py-5">Responsabilidad, respeto y puntualidad.</p>
      <p class="py-5">Con muchos años de experiencia.</p>
      <p class="py-5">
        Varios programas; nos adaptamos a sus <span class="font-bold"
          >necesidades y presupuesto.</span
        >
      </p>
      <p class="py-5">
        Contamos con un programa de seguimiento durante la vida de tú perro
        (visitas cada 3 meses) muy importante sin costo adicional.
      </p>
    </section>

    <section id="contact" class="column py-5 sm:py-8 md:py-12 text-center">
      <h1 class="text-xl sm:text-2xl md:text-3xl font-bold text-center py-5">
        Dejenos sus dudas y comentarios.
      </h1>
      <p>ESTAREMOS ENCANTADOS DE RESPONDERLE</p>
      <form
        class="text-left py-4"
        action="https://formsubmit.co/marcoferab2001@gmail.com"
        method="post"
      >
        <div class="mb-5">
          <label
            for="small-input"
            class="block mb-2 text-sm font-medium text-gray-900">Nombre:</label
          >
          <input
            name="Nombre"
            type="text"
            id="small-input"
            class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500"
          />
        </div>
        <div class="mb-5">
          <label
            for="small-input"
            class="block mb-2 text-sm font-medium text-gray-900">Email:</label
          >
          <input
            name="Email"
            type="email"
            id="small-input"
            class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500"
          />
        </div>
        <div class="mb-5">
          <label
            for="message"
            class="block mb-2 text-sm font-medium text-gray-900">Mensaje:</label
          >
          <textarea
            name="Mensaje"
            id="message"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
            placeholder="Escribe tu mensaje aqui..."></textarea>
        </div>
        <input
          type="submit"
          value="Enviar"
          class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
        />
      </form>

      <div class="flex items-center gap-4">
        <p>Medios alternativos:</p>
        <a
          href="https://www.facebook.com/educacioncaninaalfacr?mibextid=LQQJ4d"
          class="text-black hover:scale-105 duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-facebook-filled"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z"
              stroke-width="0"
              fill="currentColor"></path></svg
          >
        </a>
        <a
          href="https://wa.me/+50683503020"
          class="text-black hover:scale-105 duration-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-whatsapp"
            width="40"
            height="40"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
              d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
            ></path></svg
          >
        </a>
      </div>
    </section>

    <section
      class="column py-5 sm:py-8 md:py-12 flex flex-col justify-between sm:flex-row items-center"
    >
      <figure>
        <img
          src="/Logo.png"
          alt="logo educacion canina alfa cr"
          class="max-w-[200px]"
        />
      </figure>
      <div class="mt-5 sm:mt-0">
        <h3 class="font-bold text-xl">Horario:</h3>
        <p class="sm:text-md lg:text-lg">Lunes a Sabado de 6:00am a 8:00pm</p>
      </div>
    </section>
  </main>

  <div class="text-center bg-zinc-950 text-white py-5">
    <p>© 2023 Company Educacion Canina Alfa CR. All rights reserved</p>
    <p>
      Develop by <a
        target="_blank"
        href="https://nandev.xyz"
        class="text-blue-500 underline">Nandev</a
      >
    </p>
  </div>

  <div>
    <div
      class="fixed bottom-5 left-5 bg-zinc-950 text-white p-3 rounded-full hover:-translate-y-2 duration-300"
    >
      <a href="#top" class="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-arrow-narrow-up"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M12 5l0 14"></path><path d="M16 9l-4 -4"></path><path
            d="M8 9l4 -4"></path></svg
        >
      </a>
    </div>
    <div
      class="fixed bottom-5 right-5 bg-green-600 p-3 rounded-full hover:-translate-y-2 duration-300"
    >
      <a href="https://wa.me/+50683503020" class="text-white">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-whatsapp"
          width="40"
          height="40"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path><path
            d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
          ></path></svg
        >
      </a>
    </div>
  </div>
</Layout>

<style>
  #header {
    background-image: url("/images/header.jpeg");
    background-size: cover;
    background-position: center;
  }
</style>
